@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}


:root {
  --padding: 130px;
  --nunito: "Nunito", sans-serif;
  --poppins: "Poppins", sans-serif;
  --orange: rgb(250, 136, 49);
  --btn-shadow: 0 4px 6px rgba(59, 26, 2, 0.5);
  --btn-hover-color: rgb(89, 39, 4);
  --btn-hover-shadow: 0 6px 10px rgba(72, 31, 2, 0.8);
  --transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  :root {
    --padding: 80px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --padding: 50px;
  }
}

@media screen and (max-width: 640px) {
    :root {
      --padding: 20px;
    }
}

#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #ffae00;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}

section {
  scroll-margin-top: 65px; /* 100px tepadan joy qoldiradi */
}
